<div
  class="font-weight-bold background background-info-100 margin-xxs padding-xxs"
>
  Instructions
</div>
<ul>
  <li>
    <LinkTo @route="products">
      Raise some orders
    </LinkTo>
  </li>

  <li>
    <LinkTo @route="orders">
      Review the orders
    </LinkTo>
  </li>

  <li>
    You can do both the above steps while you are offline.
    <span class="color color-success font-weight-bold">
      tada
    </span>
  </li>
</ul>

<div
  class="font-weight-bold background background-info-100 margin-xxs padding-xxs"
>
  Going offline
</div>

<ul>
  <li>
    If you are on mobile, you might want to turn off your mobile network.
  </li>

  <li>
    If you are on desktop you can go offline using the Devtools. See how on Chromium, Firefox
    <a
      href="https://developers.google.com/web/ilt/pwa/tools-for-pwa-developers#simulate_offline_behavior"
    >
      here
    </a>
  </li>
</ul>